# Categorização de Compras

# Importa Bibliotecas

In [1]:
from getpass import getpass
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from swat import *
import dlpy
from dlpy import *
from dlpy import Sequential
from dlpy.splitting import three_way_split
from dlpy.model import TextParms
from dlpy.blocks import Bidirectional
from dlpy.applications import TextClassification
from dlpy.metrics import accuracy_score, roc_auc_score, confusion_matrix
%matplotlib inline

# Connect to SAS Viya

In [2]:
sas = CAS('localhost', 5570, 'sasdemo', getpass('Please enter your passwod:'))

Please enter your passwod:········

# Load Action Sets

In [3]:
sas.loadactionset('fedSql')
sas.loadactionset('sampling')
print('Done!')

NOTE: Added action set 'fedSql'.
NOTE: Added action set 'sampling'.
Done!

# Load Data

In [4]:
des = sas.read_csv('/home/sasdemo/demos/nlpCompras/data/ComprasDescID.csv',
                   sep=',',
                   quotechar='"',
                   casout=CASTable(name='des', replace=True))
print(des.columns)
print(des.shape)

NOTE: Cloud Analytic Services made the uploaded file available as table DES in caslib CASUSER(sasdemo).
NOTE: The table DES has been created in caslib CASUSER(sasdemo) from binary data uploaded to Cloud Analytic Services.
Index(['ID', 'DESCRI', 'NCM'], dtype='object')
(163933, 3)

In [5]:
des.head()

Selected Rows from Table DES

        ID                                       DESCRI         NCM
0  80230.0  OB-055 ESCOVA DENTAL ADT OBA OBA CX C/60 DZ  96032100.0
1  80231.0  OB-056 ESCOVA DENTAL ADT OBA OBA CX C/60 DZ  96032100.0
2  80232.0  OB-057 ESCOVA DENTAL ADT OBA OBA CX C/60 DZ  96032100.0
3  80233.0  OB-058 ESCOVA DENTAL ADT OBA OBA CX C/60 DZ  96032100.0
4  80234.0  OB-059 ESCOVA DENTAL ADT OBA OBA CX C/60 DZ  96032100.0

In [6]:
cat = sas.read_csv('/home/sasdemo/demos/nlpCompras/data/ComprasCat2.csv',
                   sep=',',
                   quotechar='"',
                   casout=CASTable(name='cat', replace=True))
print(cat.columns)
print(cat.shape)

NOTE: Cloud Analytic Services made the uploaded file available as table CAT in caslib CASUSER(sasdemo).
NOTE: The table CAT has been created in caslib CASUSER(sasdemo) from binary data uploaded to Cloud Analytic Services.
Index(['ncm', 'cat'], dtype='object')
(6, 2)

In [7]:
cat.head()

Selected Rows from Table CAT

    ncm             cat
0  33.0           ÓLEOS
1  34.0          SABÕES
2  96.0  OBRAS DIVERSAS
3  48.0          PAPÉIS
4  39.0       PLÁSTICOS

# Prepare Data

In [8]:
sas.fedsql.execdirect(
    '''
    create table data {options replace=True} as select
        a.ID as ID,
        a.DESCRI as DES,
        nvl(b.CAT,'OUTROS') as CAT
    from des as a
    left join cat as b
    on floor(a.NCM/1e6) = b.NCM
    '''
)
data = sas.CASTable('data')
print(data.columns)
print(data.shape)

NOTE: Table DATA was created in caslib CASUSER(sasdemo) with 163933 rows returned.
Index(['ID', 'DES', 'CAT'], dtype='object')
(163933, 3)

In [9]:
data.head()

Selected Rows from Table DATA

        ID                                          DES             CAT
0  80230.0  OB-055 ESCOVA DENTAL ADT OBA OBA CX C/60 DZ  OBRAS DIVERSAS
1  80231.0  OB-056 ESCOVA DENTAL ADT OBA OBA CX C/60 DZ  OBRAS DIVERSAS
2  80232.0  OB-057 ESCOVA DENTAL ADT OBA OBA CX C/60 DZ  OBRAS DIVERSAS
3  80233.0  OB-058 ESCOVA DENTAL ADT OBA OBA CX C/60 DZ  OBRAS DIVERSAS
4  80234.0  OB-059 ESCOVA DENTAL ADT OBA OBA CX C/60 DZ  OBRAS DIVERSAS

In [10]:
sas.fedsql.execdirect(
    '''
    select cat, sum(1) as cnt from data group by cat order by cnt desc
    '''
)

[Result Set]

               CAT     CNT
 0           ÓLEOS  131954
 1          SABÕES   11886
 2  OBRAS DIVERSAS    9464
 3          OUTROS    2971
 4          PAPÉIS    2958
 5       PLÁSTICOS    2505
 6     FERRAMENTAS    2195

+ Elapsed: 3.39s, user: 0.099s, sys: 1.05s, mem: 67.3mb

# Stratified Sampling

In [11]:
data.query('cat <> "ÓLEOS"') \
    .groupby('cat') \
    .stratified(output={'casOut':{'name':'work01', 'replace':True}, 'copyVars':'ALL'},
                samppct=80,
                samppct2=10,
                partind=True)

data.query('cat = "ÓLEOS"') \
    .stratified(output={'casOut':{'name':'work02', 'replace':True}, 'copyVars':'ALL'},
                samppct=10,
                partind=True)

sas.stratified(table=sas.CASTable('work02').query('_PartInd_ = 1'),
               output={'casOut':{'name':'work03', 'replace':True}, 'copyVars':['ID','DES','CAT']},
               samppct=80,
               samppct2=10,
               partind=True)

work01 = sas.CASTable('work01')
work03 = sas.CASTable('work03')
data = work01.append(work03, casout='data')
print(data.shape)

NOTE: Using SEED=1916804427 for sampling.
NOTE: Using SEED=623185916 for sampling.
NOTE: Using SEED=63077535 for sampling.
(45174, 4)

In [13]:
sas.fedsql.execdirect(
    '''
    select cat, sum(1) as cnt from data group by cat order by cnt desc
    '''
)

[Result Set]

               CAT    CNT
 0           ÓLEOS  13195
 1          SABÕES  11886
 2  OBRAS DIVERSAS   9464
 3          OUTROS   2971
 4          PAPÉIS   2958
 5       PLÁSTICOS   2505
 6     FERRAMENTAS   2195

+ Elapsed: 3.8s, sys: 1.05s, mem: 58.1mb

# Load Embeddings

Repositório de Word Embeddings do NILC (Núcleo Interinstitucional de Linguística Computacional)
- http://nilc.icmc.usp.br/embeddings

In [ ]:
emb = sas.read_csv('/home/sasdemo/demos/nlpCompras/data/glove_s50.txt',
                   sep=' ',
                   header=None,
                   skiprows=1,
                   casout=CASTable(name='emb', replace=True))
print(emb.columns)
print(emb.shape)

In [ ]:
emb.head()

# Train Model

In [ ]:
model = TextClassification(sas,
                           model_table='bdlstm001',
                           neurons=100,
                           n_blocks=1,
                           rnn_type='LSTM')

In [ ]:
model.plot_network()

In [ ]:
model.fit(data=data[data['_PartInd_']==0], 
          valid_table=data[data['_PartInd_']==1],
          inputs='des',
          texts='des',
          target='cat',
          nominals='cat',
          text_parms=TextParms(init_input_embeddings='emb', language='portuguese'),
          mini_batch_size=4, 
          max_epochs=100,
          lr=0.01,
          log_level=2)

In [ ]:
model.plot_training_history(tick_frequency=5)

In [ ]:
res = \
model.predict(data[data['_PartInd_']==2],
              text_parms=TextParms(init_input_embeddings='emb', model_output_embeddings='bdsltm001'),
              use_best_weights=True,
              top_probs=2)
preds = res['OutputCasTables']['casTable'][0]
print(res['ScoreInfo'])

In [ ]:
cmx = preds.crosstab(row='CAT', col='_DL_PredName_')
print(cmx.Crosstab)

# Train New Embeddings

In [14]:
sas.loadactionset('textMining')
sas.tmMine(docId="ID",
           documents="data", 
           entities="NONE",
           nounGroups=False,
           offset=dict(name='pos', replace=True),
           reduce=1,
           stemming=False,
           tagging=False,
           terms=dict(name='terms', replace=True),
           text="DES"
        )

NOTE: Added action set 'textMining'.

,casLib,Name,Label,Rows,Columns,casTable
0,CASUSER(sasdemo),pos,,262424,9,"CASTable('pos', caslib='CASUSER(sasdemo)')"
1,CASUSER(sasdemo),terms,,21370,11,"CASTable('terms', caslib='CASUSER(sasdemo)')"

In [15]:
sas.loadactionset('textUtil')
sas.tmCooccur(cooccurrence=dict(name='cooc', replace=True),
            maxDist=5,
            minCount=0,
            offset={"name":"pos"},
            ordered=False,
            terms={"name":"terms"},  
            useParentId=True
           )

NOTE: Added action set 'textUtil'.

[NObs]

 Input Data Statistics

                       Description     Value
 0   Number of sentences processed   47665.0
 1       Number of terms processed   21370.0
 2  Number of term pairs processed  617461.0

[OutputCasTablesFull]

              casLib  Name Label    Rows  Columns  \
 0  CASUSER(sasdemo)  cooc        436960        6

                                       casTable
 0  CASTable('cooc', caslib='CASUSER(sasdemo)')

+ Elapsed: 2.74s, user: 3.09s, sys: 1.08s, mem: 152mb

In [16]:
sas.tmSvd(count="_association_",
        docId="_termid2_",
        maxK=50,
        parent={"name":"cooc"}, 
        termId="_termid1_",
        wordPro=dict(name='wordPro', replace=True)
       )

,casLib,Name,Label,Rows,Columns,casTable
0,CASUSER(sasdemo),wordPro,,21370,51,"CASTable('wordPro', caslib='CASUSER(sasdemo)')"

In [17]:
sas.execDirect(casout=dict(name='wordEmbedding', replace=True),
             query='select t._term_, d.* from wordPro d, terms t where d._termnum_=t._termnum_')

NOTE: Table wordEmbedding was created in caslib CASUSER(sasdemo) with 21370 rows returned.

+ Elapsed: 0.149s, user: 0.294s, sys: 0.102s, mem: 66.5mb

In [18]:
sas.datastep.runcode('data wordEmbedding(replace=yes); set wordEmbedding; drop _TermNum_; run;')

[InputCasTables]

              casLib           Name   Rows  Columns  \
 0  CASUSER(sasdemo)  wordEmbedding  21370       52

                                             casTable
 0  CASTable('wordEmbedding', caslib='CASUSER(sasd...

[OutputCasTables]

              casLib           Name   Rows  Columns  Append  \
 0  CASUSER(sasdemo)  wordEmbedding  21370       51     NaN

                                             casTable
 0  CASTable('wordEmbedding', caslib='CASUSER(sasd...

+ Elapsed: 0.0539s, user: 0.099s, sys: 0.035s, mem: 7.5mb

In [19]:
sas.CASTable('wordEmbedding').head()

,_Term_,_Col1_,_Col2_,_Col3_,_Col4_,_Col5_,_Col6_,_Col7_,_Col8_,_Col9_,...,_Col41_,_Col42_,_Col43_,_Col44_,_Col45_,_Col46_,_Col47_,_Col48_,_Col49_,_Col50_
0,adst2,0.302401,-0.179095,-0.269440,-0.233528,0.087033,0.053620,-0.059986,-0.065822,0.027693,...,-0.030305,-0.003509,-0.099825,0.148674,0.020010,-0.116575,0.043521,-0.012953,-0.257594,0.224465
1,e80gr,0.388314,0.039887,-0.171849,-0.347756,-0.069608,0.034213,0.125915,0.134440,-0.084221,...,-0.067970,0.280854,0.081228,0.072984,-0.217170,-0.191507,-0.007355,0.111472,-0.088817,0.033383
2,efeit,0.199837,-0.002537,0.194089,0.028786,0.088385,-0.110641,-0.080827,0.141533,0.257831,...,0.248109,-0.312510,-0.127455,-0.154488,0.035899,0.235613,-0.062220,-0.050346,-0.217597,0.142771
3,fired,0.170072,-0.058604,0.121378,0.072116,-0.015832,-0.089873,-0.080445,0.094140,0.284350,...,0.193184,-0.339570,0.048124,0.048584,-0.092374,0.263337,-0.053973,0.128996,-0.160409,0.180899
4,monet,0.360996,-0.242305,-0.010277,0.204622,0.000974,-0.064244,0.020460,0.069263,0.151883,...,0.342590,-0.135516,-0.062631,0.131355,0.025950,0.145692,-0.041331,0.008104,-0.229598,0.131597

# Visualize the New Word Embeddings

In [ ]:
sas.loadactionset("tSne")
sas.tSne(output        = {"casOut":{"name":"tsne", "replace":True},
                          "copyVars":'_Term_'},
         inputs        = ['_Col%d_' % x for x in range(1,51)],
         nDimensions   = 2,
         perplexity    = 5,
         learningRate  = 100,
         maxIters      = 500,
         table         = 'wordEmbedding')

tsne_out=sas.CASTable('tsne')

In [ ]:
#plot

# Train New Model

In [53]:
model = TextClassification(sas,
                           model_table='bdlstm002',
                           neurons=100,
                           n_blocks=3,
                           rnn_type='LSTM')

NOTE: Output layer added.
NOTE: Model compiled successfully.

In [54]:
model.plot_network()

In [ ]:
model.fit(data=data[data['_PartInd_']==0], 
          valid_table=data[data['_PartInd_']==1],
          inputs='des',
          texts='des',
          target='cat',
          nominals='cat',
          text_parms=TextParms(init_input_embeddings='wordEmbedding', language='portuguese'),
          mini_batch_size=4, 
          max_epochs=100,
          lr=0.01,
          log_level=2)

NOTE: Training based on existing weights.
NOTE:  Synchronous mode is enabled.
NOTE:  The total number of parameters is 605607.
NOTE:  The approximate memory cost is 58.00 MB.
NOTE:  Loading weights cost       0.01 (s).
NOTE:  Initializing each layer cost       7.08 (s).
NOTE:  The total number of threads on each worker is 10.
NOTE:  The total mini-batch size per thread on each worker is 4.
NOTE:  The maximum mini-batch size across all workers for the synchronous mode is 40.
NOTE:  Target variable: CAT
NOTE:  Number of levels for the target variable:      7
NOTE:  Levels for the target variable:
NOTE:  Level      0: FERRAMENTAS
NOTE:  Level      1: OBRAS DIVERSAS
NOTE:  Level      2: ÓLEOS
NOTE:  Level      3: OUTROS
NOTE:  Level      4: PAPÉIS
NOTE:  Level      5: PLÁSTICOS
NOTE:  Level      6: SABÕES
NOTE:  Number of input variables:     1
NOTE:  Number of text input variables:      1
NOTE:  Epoch Learning Rate        Loss  Fit Error  Validation Loss Validation Error   Time(s)
NOTE:  0          0.01           1.635     0.6333            2.929           0.7369    19.94
NOTE:  1          0.01           1.651      0.622            2.854           0.7369    22.37
NOTE:  2          0.01           1.643     0.6163            2.821           0.7369    19.68
NOTE:  3          0.01           1.637     0.6065            2.832           0.7369    19.21
NOTE:  4          0.01           1.627     0.6076            2.757           0.7369    19.52
NOTE:  5          0.01           1.623     0.6036            2.776           0.7369    23.72
NOTE:  6          0.01           1.617     0.6032            2.777           0.7369    19.59
NOTE:  7          0.01           1.603      0.595            2.728           0.7369    24.26
NOTE:  8          0.01           1.595     0.6036            2.773           0.7369    21.16
NOTE:  9          0.01           1.591     0.5946            2.802           0.7369    19.63
NOTE:  10         0.01           1.581     0.5906            2.767           0.7369    19.95
NOTE:  11         0.01           1.579     0.5908            2.759           0.7369    22.34
NOTE:  12         0.01           1.554     0.5846            2.725            0.722    20.73
NOTE:  13         0.01           1.531     0.5766            2.733           0.7369    24.38
NOTE:  14         0.01           1.515     0.5722            2.751           0.7369    19.69
NOTE:  15         0.01           1.538     0.5762            2.605            0.709    19.03
NOTE:  16         0.01           1.471      0.558            2.717           0.7369    19.05
NOTE:  17         0.01           1.508     0.5678            2.593           0.7047    19.24
NOTE:  18         0.01            1.42     0.5376            2.577           0.7048    24.54
NOTE:  19         0.01           1.348     0.5007            2.889           0.7369    23.34
NOTE:  20         0.01           1.408     0.5208             2.52           0.7369    18.80
NOTE:  21         0.01           1.252     0.4544            2.362            0.689    18.77
NOTE:  22         0.01           1.162     0.4088            2.408           0.6891    19.82
NOTE:  23         0.01           1.068     0.3612            2.504           0.6839    19.91
NOTE:  24         0.01          0.9973      0.326            2.354           0.6603    23.05
NOTE:  25         0.01          0.8962     0.2896            2.394           0.6816    24.86
NOTE:  26         0.01          0.9246     0.2954            2.219            0.652    19.86
NOTE:  27         0.01          0.8259     0.2662            3.217           0.7369    18.42
NOTE:  28         0.01           1.013     0.3286            2.759           0.7122    18.78
NOTE:  29         0.01          0.8477     0.2868            2.725           0.6788    19.02
NOTE:  30         0.01          0.8107     0.2671            2.579           0.6884    18.99
NOTE:  31         0.01           0.723       0.24            2.269           0.6596    22.60
NOTE:  32         0.01           0.719     0.2403            2.121           0.6558    23.46
NOTE:  33         0.01          0.6886     0.2321            1.734            0.645    18.45
NOTE:  34         0.01          0.6558     0.2188            1.844           0.6433    18.46
NOTE:  35         0.01          0.6523     0.2157            1.374           0.6084    18.80
NOTE:  36         0.01          0.6295     0.2024            1.744           0.6436    19.93
NOTE:  37         0.01          0.6253     0.2004            1.438           0.5904    25.89
NOTE:  38         0.01          0.5891     0.1871            1.796           0.6111    23.57
NOTE:  39         0.01          0.6001     0.1942            1.307           0.6072    19.14
NOTE:  40         0.01           0.576     0.1836            1.457           0.6038    19.71
NOTE:  41         0.01          0.5553     0.1789            1.499           0.5806    19.59
NOTE:  42         0.01          0.5628     0.1825            1.376           0.5716    19.61
NOTE:  43         0.01          0.5363     0.1647            1.117           0.4782    24.46
NOTE:  44         0.01          0.5094     0.1599            1.305           0.5308    22.26
NOTE:  45         0.01           0.514      0.163            1.543           0.5927    20.13
NOTE:  46         0.01          0.5408     0.1694            1.589           0.5873    19.88
NOTE:  47         0.01          0.4871     0.1517            1.421           0.5076    19.04
NOTE:  48         0.01          0.4667      0.143            1.259           0.4791    20.58
NOTE:  49         0.01          0.4489     0.1331            1.602           0.5301    24.31
NOTE:  50         0.01          0.5044     0.1539            1.192            0.441    19.22
NOTE:  51         0.01          0.4644     0.1362            1.217           0.4611    23.90
NOTE:  52         0.01          0.4371     0.1335            1.226           0.3923    19.16
NOTE:  53         0.01           0.436     0.1318           0.9898           0.3426    19.01
NOTE:  54         0.01          0.4119     0.1216            1.555           0.5623    20.23
NOTE:  55         0.01          0.4553     0.1408             1.77           0.5511    25.32
NOTE:  56         0.01          0.4695     0.1428            1.005           0.3402    20.02
NOTE:  57         0.01          0.4096     0.1231            1.068           0.3616    24.78
NOTE:  58         0.01          0.4138     0.1256            1.105           0.3682    20.22
NOTE:  59         0.01          0.4668     0.1391            1.356           0.4707    20.53
NOTE:  60         0.01          0.4352     0.1329            1.747           0.6175    20.05
NOTE:  61         0.01          0.4882     0.1546            1.018           0.3601    19.96
NOTE:  62         0.01          0.4129     0.1207            1.188           0.4009    21.30
NOTE:  63         0.01          0.4135     0.1222            1.125           0.4088    23.56
NOTE:  64         0.01          0.3845     0.1151            1.031            0.337    18.66
NOTE:  65         0.01          0.4073     0.1187            1.895            0.606    19.72
NOTE:  66         0.01          0.5435     0.1716            1.237           0.4112    20.49
NOTE:  67         0.01          0.4441     0.1346             1.16           0.3817    18.89
NOTE:  68         0.01           0.414     0.1207            1.478           0.4822    23.82
NOTE:  69         0.01          0.4019     0.1225             1.16           0.3639    23.96
NOTE:  70         0.01          0.3933     0.1194            1.299           0.3969    21.10
NOTE:  71         0.01           0.397     0.1218            1.083           0.3433    19.04
NOTE:  72         0.01          0.3794     0.1147             1.13           0.3665    18.73
NOTE:  73         0.01          0.3881     0.1147            1.012           0.3194    18.92
NOTE:  74         0.01          0.3732     0.1105            1.699           0.5456    24.21
NOTE:  75         0.01          0.4458     0.1404            1.101           0.3785    19.96
NOTE:  76         0.01          0.3746     0.1116           0.9253           0.2954    20.81
NOTE:  77         0.01          0.3582     0.1054           0.9144           0.2982    19.54
NOTE:  78         0.01          0.3604     0.1094            1.091           0.3275    19.43

In [ ]:
model.plot_training_history(tick_frequency=5)

In [ ]:
res = \
model.predict(data[data['_PartInd_']==2],
              text_parms=TextParms(init_input_embeddings='wordEmbedding', model_output_embeddings='bdsltm002'),
              use_best_weights=True,
              top_probs=2)
preds = res['OutputCasTables']['casTable'][0]
print(res['ScoreInfo'])

In [ ]:
t = preds.tableinfo()['TableInfo']['Name'][0]
tmp = sas.CASTable('filtered')
for cat in ['FERRAMENTAS','OBRAS DIVERSAS','OUTROS','PAPÉIS','PLÁSTICOS','SABÕES','ÓLEOS']:
    sas.fedsql.execdirect('create table filtered {options replace=True} as select * from '+t+' where cat = \''+cat+'\'')
    acc = accuracy_score(tmp['CAT'], tmp['_DL_PredName_'], id_vars='ID')
    print('%s: %.4f' % (cat, acc))

In [ ]:
cmx = preds.crosstab(row='_DL_PredName_', col='CAT')
print(cmx.Crosstab)

# Save Models

In [49]:
model.save_to_table('/home/sasdemo/demos/nlpCompras/models/bdlstm002')

NOTE: Model table saved successfully.

# Save Predictions

In [50]:
sas.addcaslib(name='compras',
              path='/home/sasdemo/demos/nlpCompras/data',
              datasource='path',
              session=False)

NOTE: Caslib compras already exists.

ERROR: The action stopped due to errors.

+ Elapsed: 0.00171s, mem: 0.346mb

In [52]:
preds.save(caslib='compras', name='ComprasScored', replace=True)
# preds.to_csv('/home/sasdemo/demos/nlpCompras/data/ComprasScored.csv')

NOTE: Cloud Analytic Services saved the file ComprasScored.sashdat in caslib compras.

[caslib]

 'compras'

[name]

 'ComprasScored.sashdat'

+ Elapsed: 0.0124s, sys: 0.008s, mem: 16.5mb

# Terminate Session

In [ ]:
sas.terminate()

In [ ]:
model = TextClassification(sas,
                           model_table='bdlstm002',
                           neurons=100,
                           n_blocks=1,
                           rnn_type='LSTM')

In [ ]:
model.load('/home/sasdemo/demos/nlpCompras/models/bdlstm002/bdlstm002.sashdat')